# Audio
pyaudio
webrtcvad
numpy

# Async
asyncio

# Embeddings / NLP (CPU ONLY)
torch==2.5.0+cpu
sentence-transformers

# PyTorch CPU index
--extra-index-url https://download.pytorch.org/whl/cpu

setuptools<81